body {
    background-color: #98710e;
    background-image: url("bioenergy.png");
    background-repeat: no-repeat;
   
    color:rgb(0, 0, 0); 
}
.fit {
  max-width: 99%;
  max-height: 99%;
}
<img class="fit" src="bioenergy.png">

