::selection {
    margin: 0;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif

}

body {
    background-color: #98710e;
    background-image: url("Energy-Feature.jpg");
    background-repeat: no-repeat;
    color:rgb(0, 0, 0); 


}

.hero-container {
    float: center;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    padding: left 1rem;
    padding: right 1rem;
    
    padding-top: 200px;
    padding-bottom:200px;
}
.column-left {
    background-color: #fbf1d9;
    /*border-top-left-radius: 5rem; */
   /* border-bottom-right-radius: 5rem; */
    border-radius: 56% 44% 73% 27%/ 45% 68% 32% 55% ;
    
}
    

 
    




div {
    float: left;
    color: #000000;
    text-align: center;
    padding: 50px 16px;
    text-decoration: none;
    font-size: 20pt;
}

.logo {
    position: fixed;
    top: 0px;
    right:0px;

    
}
img.TSA {
    position: fixed;
    top: 0px;
    right:0px;
    width: 250px;
    length: 250px;
    
    
}

.column-center{
    background-color: bisque;
    
}

.column-top{
    position: fixed;
    top: 0px;
    right: 0px;
}
.top {
    position: fixed;
    height: auto;
    right: 0px;
    width: 500px;

}
